#inner-box {
    top: 30px;
    width: 300px;
    margin: 0 auto;
}
.time-list {
    display: flex;
}
.time-button{
    margin: 10, 30
}
button{ 
    border: 0.5px solid rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); padding: 2px;
}
